<!DOCTYPE html>
<html lang="en">
{% if user is defined and user is not null %}
    {% set colorsMode = user.getPreferences.getColorsMode %}
{% else %}
    {% set colorsMode = 'os' %}
{% endif %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark">

        {% if colorsMode == 'os' %}
            {# Let the browser pick the color mode #}
            <link href="/css/bootstrap-dark.min.css?v={{ asset_version }}" rel="stylesheet">
        {% elseif colorsMode == 'light' %}
            {# Use a light mode stylesheet #}
            <link href="/bootstrap/css/bootstrap.min.css?v={{ asset_version }}" rel="stylesheet">
        {% else  %}
            {# User a dark mode stylesheet #}
            <link href="/css/bootstrap-dark-only.min.css?v={{ asset_version }}" rel="stylesheet">
        {% endif %}
        <link href="/bootstrap-icons/font/bootstrap-icons.css?v={{ asset_version }}" rel="stylesheet">
        <link href="/css/main.css?v={{ asset_version }}" rel="stylesheet">
        {% if colorsMode == 'dark' %}
            <link href="/css/dark-main.css?v={{ asset_version }}" rel="stylesheet">
        {% endif %}

        <title>{% block title %}Seasonal Watch List{% endblock %}</title>

        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
    <nav id="main_nav" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <!--suppress CheckImageSize -->
                <img src="/img/NOR_symbol_40_invert_transparent.png" alt="NOR" width="40px" class="d-inline p-1">
                Seasonal Watch List
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    {% if app.user and is_granted('ROLE_SWL_USER') %}
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.pathinfo == '/personal/watch' %}active{% endif %}" href="{{ path('my_watch_index') }}">Personal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.pathinfo == '/community/watch' %}active{% endif %}" href="{{ path('all_watch_index') }}">Community</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.pathinfo == '/vote' %}active{% endif %}" href="{{ path('my_vote') }}">Vote</a>
                        </li>
                        {% if is_granted('ROLE_SWL_ADMIN') %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle {% if app.request.pathinfo starts with '/admin/' %}active{% endif %}" href="#" id="navbarDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Manage
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item {% if app.request.pathinfo == '/admin/season/' %}active{% endif %}" href="{{ path('admin_season_index') }}">Seasons</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item {% if app.request.pathinfo == '/admin/show/' %}active{% endif %}" href="{{ path('admin_show_index') }}">Shows</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item {% if app.request.pathinfo == '/admin/election/' %}active{% endif %}" href="{{ path('admin_election_index') }}">Elections</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
                {% if app.user %}
                <ul class="navbar-nav navbar-right mb-2 mb-md-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle {% if app.request.pathinfo starts with '/account/' %}active{% endif %}" href="#" id="navbarAccountDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarAccountDropdown">
                            <li>
                                <a class="dropdown-item {% if app.request.pathinfo == '/account/preferences' %}active{% endif %}" href="{{ path('account_preferences') }}">Preferences</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="{{ path('connect_discord_disconnect') }}">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block second_navbar %}{% endblock %}
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    <script src="/js/jquery.min.js?v={{ asset_version }}"></script>
    <script src="/js/popper.min.js?v={{ asset_version }}"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js?v={{ asset_version }}"></script>
{#    <script src="/js/datatables.min.js"></script>#}
{#    <script src="/js/jquery.dataTables.min.js"></script>#}
{#    <script src="/js/dataTables.bootstrap5.min.js"></script>#}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}?v={{ asset_version }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}&v={{ asset_version }}"></script>
    <!--suppress BadExpressionStatementJS -->
    <script type="application/javascript">
        const isDarkMode ={% if colorsMode == 'dark' %} true {% else %} false {% endif %}
    </script>
    {% block body_javascripts %}{% endblock %}
    </body>
</html>
