{% extends 'base.html.twig' %}

{% block title %}Show Season Score{% endblock %}

{% block body %}
    <h1>ShowSeasonScore</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ show_season_score.id }}</td>
            </tr>
            <tr>
                <th>Show</th>
                <td>
                    {{ show_season_score.show.getJapaneseTitle }}
                    ({{ show_season_score.show.getEnglishTitle }})
                </td>
            </tr>
            <tr>
                <td>Season</td>
                <td>
                    {{ show_season_score.season.getName }}
                </td>
            </tr>
            <tr>
                <th>Score</th>
                <td>
                    {% if show_season_score.score %}
                        {{ show_season_score.score.getName }}
                    {% else %}
                        (no score)
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_show_season_score_index') }}">back to list</a>

    <a href="{{ path('admin_show_season_score_edit', {'id': show_season_score.id}) }}">edit</a>

    {{ include('show_season_score/_delete_form.html.twig') }}
{% endblock %}
