{% extends 'base.html.twig' %}

{% block title %}Seasonal Watch List{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Discord Login Details</h1>

    <ul>
        <li>Token: {{ token }}</li>
        <li>Refresh token: {{ refreshToken }}</li>
        <li>
            Expires: {{ expires }}
            {% if expiresDt is not null %}
                / {{ expiresDt|date }}
            {% endif %}
        </li>
        <li>Expired? {{ tokenHasExpired }}</li>
        <li>Username: {{ username }}</li>
        <li>Discriminator: {{ discriminator }}</li>
        {% for key, value in userArray %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>

{#    <h3>meInfo</h3>#}
{#    {{ dump(meInfo) }}#}

{#    <h3>myGuildsInfo</h3>#}
{#    {{ dump(myGuildsInfo) }}#}

{#    <h3>myUHCGuildInfo</h3>#}
{#    {{ dump(myUHCGuildInfo) }}#}

{#    <h3>guildInfo</h3>#}
{#    {{ dump(guildInfo) }}#}

{#    <h3>guildRoles</h3>#}
{#    {{ dump(guildRoles) }}#}

{#    <h3>guildRolesForMember</h3>#}
{#    {{ dump(guildRolesForMember) }}#}

    <div style="margin-bottom:50px;">&nbsp;</div>
</div>
{% endblock %}
