{% extends 'base.html.twig' %}

{% block title %}Election{% endblock %}

{% block body %}
    <h1>Election</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ election.id }}</td>
            </tr>
            <tr>
                <th>Season</th>
                <td>{{ election.season.name }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ election.title }}</td>
            </tr>
            <tr>
                <th>Display name</th>
                <td>{{ election.getName }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td class="has-markdown pb-3">{{ election.description|markdown }}</td>
            </tr>
            <tr>
                <th>Election Type</th>
                <td>{{ election.electionType|capitalize }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ election.startDate ? election.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ election.endDate ? election.endDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Max votes allowed</th>
                <td>
                    {% if election.maxVotes == NULL %}
                        no limit
                    {% else %}
                        {{ election.maxVotes }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Open now</th>
                <td>{{ election.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Voters</th>
                <td>{{ totalVoterCount }}</td>
            </tr>
            <tr>
                <th>Results</th>
                <td class="pt-0">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="col-md-7 border-top-0 align-text-top">Show</th>
                            <th class="col-md-1 text-end border-top-0 align-text-top">Raw<br/>Votes</th>
                            <th class="col-md-1 text-end border-top-0 align-text-top">Buff</th>
                            <th class="col-md-1 text-end border-top-0 align-text-top">Calc<br/>Votes</th>
                            <th class="col-md-1 text-end border-top-0 align-text-top">% of<br/>Voters</th>
                            <th class="col-md-1 text-end border-top-0 align-text-top">% of<br/>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for voteTally in voteTallies %}
                            <tr>
                                <td class="col-md-7">
                                    {% if voteTally.getRelatedShowNames is empty %}
                                        {{ voteTally.getShowCombinedTitle }}
                                    {% else %}
                                        Multiple seasons:
                                        <ul>
                                            <li>{{ voteTally.getShowCombinedTitle }}</li>
                                            {% for name in voteTally.getRelatedShowNames %}
                                                <li>{{ name }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </td>
                                <td class="col-md-1 text-end">
                                    {{ voteTally.getVoteCount }}
                                </td>
                                <td class="col-md-1 text-end">
                                    {{ voteTally.getBuffRule }}
                                </td>
                                <td class="col-md-1 text-end">
                                    {{ voteTally.getBuffedVoteCount }}
                                </td>
                                <td class="col-md-1 text-end">
                                    {{ voteTally.getVotePercentOfVoterTotal|round(1) }}%
                                </td>
                                <td class="col-md-1 text-end">
                                    {{ voteTally.getBuffedVotePercentOfTotal|round(1) }}%
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="mt-3 mb-3">
                        <a
                                class="btn btn-primary"
                                target="_blank"
                                href="{{ path('admin_election_export', { 'id': election.id }) }}"
                        >
                            Export vote tally
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="float-end">
        {{ include('election/_delete_form.html.twig') }}
    </div>

    <a class="btn btn-light" href="{{ path('admin_election_index') }}">Back to list</a>

    <a class="btn btn-secondary" href="{{ path('admin_election_edit', {'id': election.id}) }}">Edit</a>

{% endblock %}
