{% extends 'base.html.twig' %}

{% block title %}Election{% endblock %}

{% block body %}
    <h1>Election</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ election.id }}</td>
            </tr>
            <tr>
                <th>Season</th>
                <td>{{ election.season.name }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ election.title }}</td>
            </tr>
            <tr>
                <th>Display name</th>
                <td>{{ election.getName }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td class="has-markdown pb-3">{{ election.description|markdown }}</td>
            </tr>
            <tr>
                <th>Election Type</th>
                <td>{{ election.electionType|capitalize }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ election.startDate ? election.startDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ election.endDate ? election.endDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Max votes allowed</th>
                <td>
                    {% if election.maxVotes == NULL %}
                        no limit
                    {% else %}
                        {{ election.maxVotes }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Open now</th>
                <td>{{ election.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Voters</th>
                <td>{{ totalVoterCount }}</td>
            </tr>
            {% if election.electionType == 'simple' %}
                {{ include('election/fragment/simple_election.html.twig') }}
            {% else %}
                {{ include('election/fragment/ranked_choice_election.html.twig') }}
            {% endif %}
        </tbody>
    </table>

    <div class="float-end">
        {{ include('election/_delete_form.html.twig') }}
    </div>

    <a class="btn btn-light" href="{{ path('admin_election_index') }}">Back to list</a>

    <a class="btn btn-secondary" href="{{ path('admin_election_edit', {'id': election.id}) }}">Edit</a>

{% endblock %}
