{% extends 'base.html.twig' %}

{% block title %}Your Vote{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1>
                Your vote:
                Election for the {{ election.season.name }} Season
            </h1>
            <h5>
                Local: <span id="localStartTime"></span>
                through <span id="localEndTime"></span><br>
                UTC: {{ election.getStartDate|date('l M j Y g:i:00 A') }} -00:00
                through {{ election.getEndDate|date('l M j Y g:i:00 A') }} -00:00<br>
                Remaining: <span id="countdownOutput"></span>
            </h5>
            <p>
                Please select the shows that you think will generate the most discussion
                in the NoR Discord server. Vote for as many or as few shows as you wish.
                The shows that receive the most votes will get individual discussion channels.
            </p>
            <p>
                You are free to revise your choices here as often as you want while voting
                is open. Changing your selections will not cause your votes to be counted
                twice. Votes are only counted after the election is closed.
            </p>
            <p>
                You can also
                <a href="{{ path('my_watch_index') }}">enter</a> your own opinions and
                <a href="{{ path('all_watch_index') }}">view</a> what others are watching.
            </p>
            <table class="table">
                <thead>
                <tr>
                    <th class="col-md-2 col-xs-2 col-sm-2">Show</th>
                    <th class="col-md-7 col-xs-6 col-sm-6">&nbsp;</th>
                    <th class="col-md-3 col-xs-4 col-sm-4">Votes (no limit)</th>
                </tr>
                </thead>
                <tbody>
                {% for key, row in data %}
                    <tr>
                        <td class="col-md-2 col-xs-2 col-sm-2">
                            <img class="img-fluid" src="{{ row.vote.show.getCoverImageLarge|raw }}" alt="cover image" />
                        </td>
                        <td class="col-md-7 col-xs-6 col-sm-6">
                            {{ row.vote.show.getAllTitles }}
                        </td>
                        <td class="col-md-3 col-xs-4 col-sm-4">
                            {% if row.form %}
                                {{ form_start(row.form) }}
                                {{ form_widget(
                                    row.form.chosen,
                                    {
                                        'id': "show_election_vote_vote_" ~ key,
                                        'attr': {
                                        'class': 'show_election_vote_vote'
                                    }
                                    }
                                )}}
                                {{ form_end(row.form) }}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>


{% endblock %}

{% block body_javascripts %}
    <script type="application/javascript">
        const electionTimes = {
            start: "{{ election.getStartDate|date('c') }}",
            end: "{{ election.getEndDate|date('c') }}"
        }
    </script>
    <script src="/js/MyVote.js?v={{ asset_version }}"></script>
{% endblock %}
