{% extends 'base.html.twig' %}

{% block title %}Vote{% endblock %}

{% block body %}
    <div class="row mb">
        <div class="col-lg-12">
            <h1 class="text-nor-red">
                Vote:
                {% if election.title %}
                    Election for the {{ election.title }}
                {% else %}
                    Election for the {{ election.season.name }} Season
                {% endif %}
            </h1>
            <p>
                Voting ends <span id="localEndTime"></span>
                <a id="utcTimeEndShow" href="#" style="font-size:small;">(see UTC)</a>
                <span id="utcEndTime" class="d-none"> / {{ election.getEndDate|date('l Y-m-d g:i A') }} +00:00/UTC
                </span><br>
                Remaining: <strong><span id="countdownOutput"></span></strong>
            </p>
            {% if election.description %}
                <div class="has-markdown pb-3">
                {{ election.description|markdown }}
                </div>
            {% else %}
                <p>
                    Please select the shows that you think will generate the most discussion
                    in the NOR Discord server. Vote for as many or as few shows as you wish.
                    The shows that receive the most votes will get individual discussion channels.
                </p>
            {% endif %}
            <p>
                You are free to revise your choices here as often as you want while voting
                is open. Changing your selections will not cause your votes to be counted
                twice. Votes are only counted after the election is closed.
            </p>
            <table class="table">
                <thead>
                <tr>
{#                    <th class="col-md-1 col-xs-2 col-sm-1">Show</th>#}
                    <th class="col-md-9 col-xs-8 col-sm-8">Show</th>
                    <th class="col-md-3 col-xs-4 col-sm-4">
                        {% if election.electionType == 'simple' %}
                            Votes
                            {% if election.maxVotes == NULL %}
                                (no limit)
                            {% else %}
                                (maximum {{ election.maxVotes }})
                            {% endif %}
                        {% else %}
                            Rank
                        {% endif %}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for key, row in data %}
                    <tr>
{#                        <td class="col-md-1 col-xs-2 col-sm-1">#}
{#                            <img class="img-fluid rounded-3" src="{{ row.vote.show.getCoverImageLarge|raw }}" alt="cover image" />#}
{#                        </td>#}
                        <td class="col-md-9 col-xs-8 col-sm-8">
                            <div class="row">
                                <div class="col-3 col-md-2 col-lg-1">
                                    <img
                                            class="img-fluid rounded-3"
                                            src="{{ row.vote.show.getCoverImageLarge|raw }}"
                                            alt="cover image"
                                            data-bs-toggle="modal"
                                            data-bs-target="#image-popup-{{ key }}"
                                            style="cursor: pointer;"
                                    />
                                </div>
                                <div class="col-9 col-md-10 col-lg-11">
                                    {% if row.vote.show.getRelatedShows is empty %}
                                        <a target="_blank" href="https://anilist.co/anime/{{ row.vote.show.getAnilistId }}">
                                            {{ row.vote.show.getVoteStyleTitles }}
                                        </a>
                                    {% else %}
                                        Multiple seasons:
                                        <ul>
                                            <li>
                                                <a target="_blank" href="https://anilist.co/anime/{{ row.vote.show.getAnilistId }}">
                                                    {{ row.vote.show.getVoteStyleTitles }}
                                                </a>
                                            </li>
                                            {% for relatedShow in row.vote.show.getRelatedShows %}
                                                <li>
                                                    <a target="_blank" href="https://anilist.com/anime/{{ relatedShow.getAnilistId }}">
                                                        {{ relatedShow.getVoteStyleTitles }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </td>
                        <td class="col-md-3 col-xs-4 col-sm-4">
                            {% if row.form %}
                                {{ form_start(row.form) }}
                                {% if election.electionType == 'simple' %}
                                    {{ form_widget(
                                        row.form.chosen,
                                        {
                                            'id': "show_election_vote_vote_" ~ key,
                                            'attr': {
                                                'class': 'show_election_vote_vote'
                                            }
                                        }
                                    )}}
                                {% else %}
                                    {{ form_widget(
                                        row.form.rank,
                                        {
                                            'id': "election_vote_rank_" ~ key,
                                            'attr': {
                                                'class': 'show_election_vote_rank'
                                            }
                                        }
                                    )}}
                                    {{ form_widget(
                                        row.form.election,
                                        {
                                            'id': "election_vote_election_" ~ key,
                                            'attr': {
                                                'class': 'show_election_vote_election'
                                            }
                                        }
                                    ) }}
                                    {{ form_widget(
                                        row.form.season,
                                        {
                                            'id': "election_vote_season_" ~ key,
                                            'attr': {
                                            'class': 'show_election_vote_season'
                                        }
                                        }
                                    ) }}
                                    {{ form_widget(
                                        row.form.animeShow,
                                        {
                                            'id': "election_vote_animeShow_" ~ key,
                                            'attr': {
                                            'class': 'show_election_vote_animeShow'
                                        }
                                        }
                                    ) }}
                                {% endif %}
                                {{ form_end(row.form) }}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">No shows found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    <div class="toast-container position-fixed top-0 start-50 translate-middle-x pt-4" style="z-index: 5000">
        <div
                class="toast hide align-items-center text-white bg-primary border-0"
                id="toast-success"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
                data-bs-delay="2000"
        >
            <div class="d-flex">
                <div class="toast-body" id="toast-success-body">Toast message</div>
                <button type="button" class="btn-close text-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
        <div
                class="toast hide align-items-center text-white bg-danger border-0"
                id="toast-error"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
                data-bs-delay="5000"
        >
            <div class="d-flex">
                <div class="toast-body" id="toast-error-body">Toast message</div>
                <button type="button" class="btn-close text-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>


{% endblock %}

{% block modal_popup %}
    {% for key, row in data %}
        <div class="modal fade" id="image-popup-{{ key }}" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <img
                                            class="img-fluid mx-auto d-block"
                                            src="{{ row.vote.show.getCoverImageLarge|raw }}"
                                            alt="cover image"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block body_javascripts %}
    <script type="application/javascript">
        const electionTimes = {
            start: "{{ election.getStartDate|date('c') }}",
            end: "{{ election.getEndDate|date('c') }}"
        }
    </script>
    <script src="/js/MyVote.js?v={{ asset_version }}"></script>
{% endblock %}
