{% extends 'base.html.twig' %}

{% block title %}Vote{% endblock %}

{% block body %}
    <div class="row mb">
        <div class="col-lg-12">
            <h1 class="text-nor-red">
                Vote:
                {% if election.title %}
                    Election for the {{ election.title }}
                {% else %}
                    Election for the {{ election.season.name }} Season
                {% endif %}
            </h1>
            <p>
                Voting ends <span id="localEndTime"></span>
                <a id="utcTimeEndShow" href="#" style="font-size:small;">(see UTC)</a>
                <span id="utcEndTime" class="d-none"> / {{ election.getEndDate|date('l Y-m-d g:i A') }} +00:00/UTC
                </span><br>
                Remaining: <strong><span id="countdownOutput"></span></strong>
            </p>
            {% if election.description %}
                <div class="has-markdown pb-3">
                {{ election.description|markdown }}
                </div>
            {% else %}
                <p>
                    Please select the shows that you think will generate the most discussion
                    in the NOR Discord server. Vote for as many or as few shows as you wish.
                    The shows that receive the most votes will get individual discussion channels.
                </p>
            {% endif %}
            <p>
                You are free to revise your choices here as often as you want while voting
                is open. Changing your selections will not cause your votes to be counted
                twice. Votes are only counted after the election is closed.
            </p>
            <table class="table">
                <thead>
                <tr>
                    <th class="col-md-2 col-xs-2 col-sm-2">Show</th>
                    <th class="col-md-7 col-xs-6 col-sm-6">&nbsp;</th>
                    <th class="col-md-3 col-xs-4 col-sm-4">
                        Votes
                        {% if election.maxVotes == NULL %}
                            (no limit)
                        {% else %}
                            (maximum {{ election.maxVotes }})
                        {% endif %}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for key, row in data %}
                    <tr>
                        <td class="col-md-2 col-xs-2 col-sm-2">
                            <img class="img-fluid rounded-3" src="{{ row.vote.show.getCoverImageLarge|raw }}" alt="cover image" />
                        </td>
                        <td class="col-md-7 col-xs-6 col-sm-6">
                            {% if row.vote.show.getRelatedShows is empty %}
                                {{ row.vote.show.getVoteStyleTitles }}
                            {% else %}
                                Multiple seasons:
                                <ul>
                                    <li>{{ row.vote.show.getVoteStyleTitles }}</li>
                                    {% for relatedShow in row.vote.show.getRelatedShows %}
                                        <li>{{ relatedShow.getVoteStyleTitles }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                        <td class="col-md-3 col-xs-4 col-sm-4">
                            {% if row.form %}
                                {{ form_start(row.form) }}
                                {{ form_widget(
                                    row.form.chosen,
                                    {
                                        'id': "show_election_vote_vote_" ~ key,
                                        'attr': {
                                            'class': 'show_election_vote_vote'
                                        }
                                    }
                                )}}
                                {{ form_end(row.form) }}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">No shows found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    <div class="toast-container position-fixed top-0 start-50 translate-middle-x pt-4" style="z-index: 5000">
        <div
                class="toast hide align-items-center text-white bg-primary border-0"
                id="toast-success"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
                data-bs-delay="2000"
        >
            <div class="d-flex">
                <div class="toast-body" id="toast-success-body">Toast message</div>
                <button type="button" class="btn-close text-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
        <div
                class="toast hide align-items-center text-white bg-danger border-0"
                id="toast-error"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
                data-bs-delay="5000"
        >
            <div class="d-flex">
                <div class="toast-body" id="toast-error-body">Toast message</div>
                <button type="button" class="btn-close text-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>


{% endblock %}

{% block body_javascripts %}
    <script type="application/javascript">
        const electionTimes = {
            start: "{{ election.getStartDate|date('c') }}",
            end: "{{ election.getEndDate|date('c') }}"
        }
    </script>
    <script src="/js/MyVote.js?v={{ asset_version }}"></script>
{% endblock %}
