{% extends 'base.html.twig' %}

{% if user is defined and user is not null %}
    {% set viewMode = user.getPreferences.getAllWatchesViewMode %}
{% else %}
    {% set viewMode = 'expanded' %}
{% endif %}

{% block title %}Community Watch List{% endblock %}

{% block stylesheets %}
    <link href="/chart_js/Chart.min.css" rel="stylesheet">
{% endblock %}

{% block second_navbar %}
    <nav id="second_nav" class="navbar navbar-expand-md navbar-light second-nav-bar">
        <div class="container">
            <form class="d-none d-lg-flex align-items-center" style="width:100%;">
                <label class="pe-2" for="select_show_wide">Show</label>
                <select id="select_show_wide" class="form-select me-2">
                    {% for key, row in data %}
                        <option value="show_target_wide_{{ row.show.id }}">{{ row.show.shortTitle }}</option>
                    {% endfor %}
                </select>
            </form>
            <form class="d-flex d-lg-none align-items-center" style="width:100%;">
                <label class="pe-2" for="select_show">Show</label>
                <select id="select_show" class="form-select me-2">
                    {% for key, row in data %}
                        <option value="show_target_{{ row.show.id }}">{{ row.show.shortTitle }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </nav>
    {% if viewMode == 'condensed' %}
        <div class="container d-none d-lg-block pb-2 third-nav-bar">
            <div class="d-flex align-items-center justify-content-end py-2 border-bottom">
                <span class="activity-ptw watching-legend-pip d-inline-block ms-3 me-1"></span> PTW
                <span class="activity-watching watching-legend-pip d-inline-block ms-3 me-1"></span> Watching
                <span class="score-unfavorable watching-legend-pip d-inline-block ms-5 me-1"></span> Unfavorable
                <span class="score-neutral watching-legend-pip d-inline-block ms-3 me-1"></span> Neutral
                <span class="score-favorable watching-legend-pip d-inline-block ms-3 me-1"></span> Favorable
                <span class="score-highly-favorable watching-legend-pip d-inline-block ms-3 me-1"></span> H. Favorable
                <span class="score-th8a watching-legend-pip d-inline-block ms-3 me-1"></span> Th8a should
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block body %}
    <div class="d-block">
        <div class="row">
            <div class="col">
                <a class="show-anchor" id="show_target_top"></a>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-10 second-nav-clearance-padding"></div>
        </div>
        {% if viewMode == 'condensed' %}
            <div class="d-none d-lg-block row mb-2">
                <div class="col-md-10 third-nav-clearance-padding"></div>
            </div>
        {% endif %}
    </div>

    <div class="row mb-2">
        <div class="col-md-12">
            <div class="float-end pb-2 ps-1">
                {% include '_shared/season_selector_form.html.twig' %}
            </div>
            <div class="float-end pb-2 ps-1">
                {% include '_shared/sort_selector_form.html.twig' %}
            </div>
            <div class="float-end pb-2 ps-1">
                {% include 'all_watch/fragment/mode_selector_form.html.twig' %}
            </div>
            <div class="float-end pb-2 ps-1 pe-3">
                <a class="btn btn-light" target="_blank" href="{{ path('all_watch_export') }}">Download</a>
            </div>
            <h1 class="text-nor-red">Community Watch List</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>
                Here is a summary of NOR community opinions on shows airing this season.
                Not the season you are interested in? Change it (above). You can also
                <a href="{{ path('my_watch_index') }}">enter</a> your own opinions and
                <a href="{{ path('my_vote') }}">vote</a> for discussion channels (when voting is open).
            </p>
        </div>
    </div>

    <div class="row mb-2 pb-2 border-bottom border-top pt-2 d-none d-lg-flex">
        <div class="col-md-2">
            <a href="{{ path('all_watch_index') }}?sort={% if selectedSortName == 'show_asc' %}show_desc{% else %}show_asc{% endif %}">
                <strong>
                        Show
                        {% if selectedSortName == 'show_asc' %}&#9660;{% elseif selectedSortName == 'show_desc'%}&#9650;{% endif %}
                </strong>
            </a>
        </div>
        <div class="col-md-2"><strong></strong></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <a href="{{ path('all_watch_index') }}?sort={% if selectedSortName == 'activity_desc' %}activity_asc{% else %}activity_desc{% endif %}">
                        <strong>
                            Activity
                            {% if selectedSortName == 'activity_desc' %}&#9660;{% elseif selectedSortName == 'activity_asc'%}&#9650;{% endif %}
                        </strong>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="{{ path('all_watch_index') }}?sort={% if selectedSortName == 'recommendations_desc' %}recommendations_asc{% else %}recommendations_desc{% endif %}">
                        <strong>
                            Recommendations
                            {% if selectedSortName == 'recommendations_desc' %}&#9660;{% elseif selectedSortName == 'recommendations_asc'%}&#9650;{% endif %}
                        </strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% for key, row in data %}
        <div  id="show_container_wide_{{ row.show.id }}" data-anchorid="{{ row.show.id }}" class="show_container_wide row mb-2 pb-2 border-bottom d-none d-lg-flex">
            <div class="row">
                <div class="col">
                    <a class="{% if viewMode == 'expanded' %}show-anchor{% else %}show-anchor-condensed{% endif %}" id="show_target_wide_{{ row.show.id }}"></a>
                </div>
            </div>

            <div class="row {% if viewMode != 'expanded' %}align-items-center{% endif %}">
                {% if viewMode == 'expanded' %}
                    <div class="col-md-2">
                        <img class="img-fluid rounded-3 cover-image-large" src="{{ row.show.coverImage|raw }}" alt="cover image" />
                    </div>
                    <div class="col-md-2">
                        {{ row.show.title|raw }}
                        <br>
                        {% include 'all_watch/fragment/jump_link_buttons.html.twig' %}
                    </div>
                {% else %}
                    <div class="col-md-4">
                        {{ row.show.shortTitle|raw }}
                        <br>
                        {% include 'all_watch/fragment/jump_link_buttons_horizontal.html.twig' %}
                    </div>

                {% endif %}

                <div class="col-md-8">
                    <div class="row {% if viewMode != 'expanded' %}align-items-center{% endif %}">
                        <div class="col-xs-12 col-md-6">
                            {% if row.consolidatedActivities %}
                                <div class="row">
                                    <div class="d-flex align-items-center col-1 col-lg-2 col-xl-1 pe-2">
                                        {% include 'all_watch/fragment/activity_icon.html.twig' %}
                                    </div>
                                    <div class="col-11 col-lg-10 col-xl-11">
                                        <div class="chart-container position-relative">
                                            <canvas id="bar_activities_{{ row.show.id }}"
                                                    class="all_watch_bar_activity_chart"
                                                    data-scores="{{ row.consolidatedActivities.activities_array }}"
                                                    data-maxactivitycount="{{ row.maxActivityCount }}"
                                                    height=40
                                            ></canvas>
                                        </div>
                                    </div>
                                </div>

                            {% else %}
                                &nbsp;
                            {% endif %}
                            {% if viewMode == 'expanded' %}
                                <div class="row">
                                    <div class="col-6">
                                        {% include 'all_watch/fragment/activity_summary_table.html.twig' %}
                                    </div>
                                </div>
                            {% endif %}
                            {% if viewMode == 'expanded' and row.scores and row.scoreCount > 0 %}
                                <div class="">
                                    <a
                                            class="btn btn-sm btn-info mt-3"
                                            data-bs-toggle="collapse"
                                            href="#collapseRow{{ key }}"
                                            aria-expanded="false"
                                            aria-controls="collapseRow{{ key }}"
                                    >Details</a>
                                </div>
                            {% endif %}

                        </div>
                        <div class="col-xs-12 col-md-6">
                            {% if row.consolidatedScores.all_count > 0 %}
                                <div class="row align-items-center">
                                    <div class="col-1 col-lg-2 col-xl-1">
                                        {% include 'all_watch/fragment/mood_icon.html.twig' %}
                                    </div>
                                    <div class="col-11 col-lg-10 col-xl-11">
                                        <div class="chart-container">
                                            <canvas id="bar_scores_{{ row.show.id }}"
                                                    class="all_watch_bar_score_chart"
                                                    data-scores="{{ row.consolidatedScores.scores_array }}"
                                                    data-maxscorecount="{{ row.maxScoreCount }}"
                                                    data-minscorecount="{{ row.minScoreCount }}"
                                                    height=20
                                            ></canvas>
                                        </div>
                                    </div>
                                </div>
                                {% if viewMode == 'expanded' %}
                                <div class="row">
                                    <div class="col-12 col-xl-9">
                                        {% include 'all_watch/fragment/recommendations_summary_table.html.twig' %}
                                    </div>
                                </div>
                                {% endif %}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </div>
                    </div>
                    {% if viewMode == 'expanded' %}
                    <div class="row">
                        <div class="col-xs-12">
                            {% if row.scores and row.scoreCount > 0 %}
                                <div class="collapse" id="collapseRow{{ key }}">
                                    {% if viewMode == 'condensed' %}
                                        <div class="row mt-3 mb-3">
                                            <div class="col-6">
                                                {% include 'all_watch/fragment/activity_summary_table.html.twig' %}
                                            </div>
                                            <div class="col-6">
                                                {% include 'all_watch/fragment/recommendations_summary_table.html.twig' %}
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% include 'all_watch/fragment/individual_values_table.html.twig' %}
                                    <a
                                            class="btn btn-close mb-2"
                                            data-bs-toggle="collapse"
                                            href="#collapseRow{{ key }}"
                                            aria-expanded="false"
                                            aria-controls="collapseRow{{ key }}"
                                            aria-label="Close"
                                    ></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>

            {% if viewMode == 'condensed' %}
                <div id="collapseRow{{ key }}" class="collapse">
                    <div class="row">
                        <div class="col-md-2 mt-3">
                            <img class="img-fluid rounded-3 cover-image-large" src="{{ row.show.coverImage|raw }}" alt="cover image" />
                        </div>
                        <div class="col-md-2 mt-3">
                            {{ row.show.title|raw }}
                        </div>
                        <div class="col-md-8">
                            {% if row.scores and row.scoreCount > 0 %}
                                <div class="row mt-3 mb-3">
                                    <div class="col-6">
                                        {% include 'all_watch/fragment/activity_summary_table.html.twig' %}
                                    </div>
                                    <div class="col-6">
                                        {% include 'all_watch/fragment/recommendations_summary_table.html.twig' %}
                                    </div>
                                </div>

                                {% include 'all_watch/fragment/individual_values_table.html.twig' %}
                                <a
                                        class="btn btn-close mb-2"
                                        data-bs-toggle="collapse"
                                        href="#collapseRow{{ key }}"
                                        aria-expanded="false"
                                        aria-controls="collapseRow{{ key }}"
                                        aria-label="Close"
                                ></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    {% endfor %}

    {% if data is empty %}
        <div class="row">
            <div class="col-xs-12 d-none d-lg-block text-center mt-3">No shows found</div>
            <div class="col-xs-12 d-block d-lg-none">No shows found</div>
        </div>
    {% endif %}

    <div class="d-block d-lg-none">
        {% for key, row in data %}
            <div id="show_container_{{ row.show.id }}" class="show_container" data-anchorid="{{ row.show.id }}">
                <div class="row">
                    <div class="col">
                        <a class="show-anchor" id="show_target_{{ row.show.id }}"></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <img class="img-fluid rounded-3 cover-image-large" src="{{ row.show.coverImage|raw }}" alt="cover image" />
                    </div>
                    <div class="col-8 position-relative">
                        {{ row.show.title|raw }}
                        <br>
                        {% include 'all_watch/fragment/jump_link_buttons.html.twig' %}
                    </div>
                </div>
                {% if row.consolidatedActivities %}
                    <div class="mt-2">Activity</div>
                    <div class="row">
                        <div class="d-flex align-items-center col-1">
                            {% include 'all_watch/fragment/activity_icon.html.twig' %}
                        </div>
                        <div class="col-11">
                            <canvas id="bar_activities_{{ row.show.id }}_narrow"
                                    class="all_watch_bar_activity_chart"
                                    data-scores="{{ row.consolidatedActivities.activities_array }}"
                                    data-maxactivitycount="{{ row.maxActivityCount }}"
                                    height=40
                            ></canvas>
                        </div>
                    </div>
                {% else %}
                    <div>(no activity)</div>
                {% endif %}
                {% if row.consolidatedScores.all_count > 0 %}
                    <div class="mt-2">Recommendations</div>
                    <div class="row align-items-center">
                        <div class="col-1">
                            {% include 'all_watch/fragment/mood_icon.html.twig' %}
                       </div>
                        <div class="col-11">
                            <canvas id="bar_scores_{{ row.show.id }}_narrow"
                                    class="all_watch_bar_score_chart"
                                    data-scores="{{ row.consolidatedScores.scores_array }}"
                                    data-maxscorecount="{{ row.maxScoreCount }}"
                                    data-minscorecount="{{ row.minScoreCount }}"
                                    height=40
                            ></canvas>
                        </div>
                    </div>
                {% else %}
                    <div>(no recommendations)</div>
                {% endif %}

                <div class="row">
                    <div class="col">
                        <a
                                class="btn btn-sm btn-info mt-2 mb-3"
                                data-bs-toggle="collapse"
                                href="#collapseRowSmall{{ key }}"
                                aria-expanded="false"
                                aria-controls="collapseRowSmall{{ key }}"
                        >Details</a>
                    </div>
                </div>

                <div class="collapse" id="collapseRowSmall{{ key }}">
                    <div class="row">
                        <div class="col">
                            {% include 'all_watch/fragment/activity_summary_table.html.twig' %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            {% include 'all_watch/fragment/recommendations_summary_table.html.twig' %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            {% if row.scores and row.scoreCount > 0 %}
                                {% include 'all_watch/fragment/individual_values_table.html.twig' %}
                            {% endif %}
                        </div>
                    </div>
                    <a
                            class="btn btn-close mt-1 mb-3"
                            data-bs-toggle="collapse"
                            href="#collapseRowSmall{{ key }}"
                            aria-expanded="false"
                            aria-controls="collapseRowSmall{{ key }}"
                            aria-label="Close"
                    ></a>
                </div>
                <div class="row mt-2 mb-1 border-bottom"></div>
            </div>
        {% endfor %}

    </div>

    {% if data is not empty %}
        <a class="btn btn-primary rounded-pill d-block back-to-top-button" href="{{ path('all_watch_index') }}#show_target_top">Top</a>
        <div class="row">
            <div class="col mb-5 mr-3"></div>
        </div>
    {% endif %}

{% endblock %}

{% block body_javascripts %}
    <script src="/chart_js/Chart.min.js"></script>
    <script src="https://d3js.org/d3-color.v2.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
    <script type="text/javascript">
        window.allWatchesViewMode="{{ viewMode }}"
    </script>
    <script src="/js/SelectSeason.js?v={{ asset_version }}"></script>
    <script src="/js/SelectSort.js?v={{ asset_version }}"></script>
    <script src="/js/SelectShow.js?v={{ asset_version }}"></script>
    <script src="/js/AllWatch.js?v={{ asset_version }}"></script>
{% endblock %}
