{% extends 'base.html.twig' %}

{% block title %}All Watch Picks{% endblock %}

{% block stylesheets %}
    <link href="/chart_js/Chart.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row mb-5">
        <div class="col-md-10">
            <h1>All watch picks</h1>
        </div>
        <div class="col-md-2">
            <form>
                <div class="form-group">
                    <label for="select_season">Change season</label>
                    <select id="select_season" class="form-control">
                        {% for season in seasons %}
                            <option
                                    value="{{ season.id }}"
                                    {% if season.id == selectedSeasonId %} selected="selected" {% endif %}
                            >{{ season.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>
                Here is a summary of NoR community opinions on shows airing this season.
                Not the season you are interested in? Change it (above). You can also
                <a href="{{ path('my_watch_index') }}">enter</a> your own opinions and
                <a href="{{ path('my_vote') }}">vote</a> for discussion channels (when voting is open).
            </p>
        </div>
    </div>

    <div class="row mb-2 pb-2 border-bottom border-top pt-2 d-none d-lg-flex">
        <div class="col-md-2"><strong>Show</strong></div>
        <div class="col-md-3"><strong>&nbsp;</strong></div>
        <div class="col-md-3"><strong>Scores</strong></div>
        <div class="col-md-4"><strong>Recommendations</strong></div>
    </div>
    {% for key, row in data %}
        <div class="row mb-2 pb-2 border-bottom d-none d-lg-flex">
            <div class="col-md-2">
                <img class="img-fluid" src="{{ row.show.coverImage|raw }}" alt="cover image" />
            </div>
            <div class="col-md-3">
                {{ row.show.title }}
            </div>
            <div class="col-md-3">
                <table>
                    <tbody>
                    <tr>
                        <th class="pe-3">Th8a should cover</th>
                        <td>
                            {% if row.consolidatedScores is not null %}
                                {{ row.consolidatedScores.th8a_count }}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="pe-3">Should watch</th>
                        <td>
                            {% if row.consolidatedScores is not empty %}
                                {{ row.consolidatedScores.yes_count }}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="pe-3">Should avoid</th>
                        <td>
                            {% if row.consolidatedScores is not null %}
                                {{ row.consolidatedScores.no_count }}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="pe-3">Total</th>
                        <td>
                            {% if row.consolidatedScores is not null %}
                                {% if row.consolidatedScores.score_total is not null %}
                                    {{ row.consolidatedScores.score_total }}
                                {% else %}
                                    0
                                {% endif %}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-4">
                {% if row.consolidatedScores.all_count > 0 %}
                    <canvas width="300"
                            height="200"
                            id="bar_{{ row.show.id }}"
                            class="all_watch_bar_chart"
                            data-scores="{{ row.consolidatedScores.scores_array }}"
                            data-maxscore="{{ row.maxScore }}"
                    ></canvas>
                {% else %}
                    &nbsp;
                {% endif %}
                {% if row.scores %}
                    {% set foundScores = 0 %}
                    {% for scoreField in row.scores %}
                        {% if users[scoreField.getUser.getUsername] %}
                            {% if scoreField.score %}
                                {% set foundScores = foundScores + 1 %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if foundScores > 0 %}
                        <div>
                            <a
                                    class="btn btn-outline-primary mt-3 mb-3"
                                    data-bs-toggle="collapse"
                                    href="#collapseRow{{ key }}"
                                    aria-expanded="false"
                                    aria-controls="collapseExample"
                            >Individual</a>
                        </div>
                        <div class="collapse" id="collapseRow{{ key }}">
                            <p>
                                {% for scoreField in row.scores %}
                                    {% if users[scoreField.getUser.getUsername] %}
                                        {% if scoreField.score %}
                                            {{ scoreField.getUser.getDiscordUsername }}:
                                            <span class="text-{{ scoreField.score.getColorValue }}">{{ scoreField.score.getNickname }}</span><br>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </p>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <div class="row mb-2 pb-2 d-block d-lg-none border-bottom">
        <div class="col">&nbsp;</div>
    </div>

    {% for key, row in data %}
        <div class="row mb-2 pb-2 d-block d-lg-none">
            <div class="col">
                <strong>Show</strong><br>
                <span class="float-start">
                <img class="img-fluid me-2" src="{{ row.show.coverImage|raw }}" alt="cover image" />
                </span>
                {{ row.show.title }}
                <br style="clear:both">
            </div>
        </div>
        <div class="row mb-2 pb-2 d-block d-lg-none">
            <div class="col">
                <table class="table">
                    <tbody>
                    <tr>
                        <td><strong>Th8a</strong></td>
                        <td><strong>Watch</strong></td>
                        <td><strong>Avoid</strong></td>
                        <td><strong>Total</strong></td>
                    </tr>
                    <tr>
                        <td>{{ row.consolidatedScores.th8a_count }}</td>
                        <td>{{ row.consolidatedScores.yes_count }}</td>
                        <td>{{ row.consolidatedScores.no_count }}</td>
                        <td>{{ row.consolidatedScores.score_total }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mb-3 pb-3 border-bottom d-block d-lg-none">
            <div class="col">
                <strong>Recommendations</strong><br>
                {% if row.consolidatedScores.all_count > 0 %}
                    <canvas width="300"
                            height="200"
                            id="bar_{{ row.show.id }}_narrow"
                            class="all_watch_bar_chart"
                            data-scores="{{ row.consolidatedScores.scores_array }}"
                            data-maxscore="{{ row.maxScore }}"
                    ></canvas>
                {% else %}
                    &nbsp;
                {% endif %}
                <br>
                {% if row.scores %}
                    {% set foundScores = 0 %}
                    {% for scoreField in row.scores %}
                        {% if users[scoreField.getUser.getUsername] %}
                            {% if scoreField.score %}
                                {% set foundScores = foundScores + 1 %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if foundScores > 0 %}
                    <div>
                        <a
                                class="btn btn-outline-primary mt-3 mb-3"
                                data-bs-toggle="collapse"
                                href="#collapseRowSmall{{ key }}"
                                aria-expanded="false"
                                aria-controls="collapseExample"
                        >Individual</a>
                    </div>
                    <div class="collapse" id="collapseRowSmall{{ key }}">
                        <p>
                            {% for scoreField in row.scores %}
                                {% if users[scoreField.getUser.getUsername] %}
                                    {% if scoreField.score %}
                                        {% set foundScores = foundScores + 1 %}
                                        {{ scoreField.getUser.getDiscordUsername }}:
                                        <span class="text-{{ scoreField.score.getColorValue }}">{{ scoreField.score.getNickname }}</span><br>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col mb-3">&nbsp;</div>
    </div>
{% endblock %}

{% block body_javascripts %}
    <script src="/chart_js/Chart.min.js?v={{ asset_version }}"></script>
    <script src="/js/AllWatch.js?v={{ asset_version }}"></script>
{% endblock %}
