{% extends 'base.html.twig' %}

{% block title %}Community Watch List{% endblock %}

{% block stylesheets %}
    <link href="/chart_js/Chart.min.css" rel="stylesheet">
{% endblock %}

{% block second_navbar %}
    <nav id="second_nav" class="navbar navbar-expand-md navbar-light fixed-top bg-light d-block d-lg-none" style="top:4.1rem;z-index:1000;">
        <div class="container-fluid">
            <form class="d-flex">
                <label class="pe-2 pt-2" for="select_show">Show</label>
                <select id="select_show" class="form-control me-2">
                    {% for key, row in data %}
                        <option value="show_target_{{ key }}">{{ row.show.shortTitle }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="d-block d-lg-none">
        <div class="row">
            <div class="col">
                <a style="position:relative;top:-7rem;z-index:-100;" id="show_target_top"></a>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-10" style="margin-top: 2rem;">&nbsp;</div>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-12">
            <div class="float-end pb-2 ps-1">
                {% include '_shared/season_selector_form.html.twig' %}
            </div>
            <div class="float-end pb-2 ps-1">
                {% include '_shared/sort_selector_form.html.twig' %}
            </div>
            <h1 class="text-nor-red">Community Watch List</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>
                Here is a summary of NoR community opinions on shows airing this season.
                Not the season you are interested in? Change it (above). You can also
                <a href="{{ path('my_watch_index') }}">enter</a> your own opinions and
                <a href="{{ path('my_vote') }}">vote</a> for discussion channels (when voting is open).
            </p>
        </div>
    </div>

    <div class="row mb-2 pb-2 border-bottom border-top pt-2 d-none d-lg-flex">
        <div class="col-md-2">
            <a href="{{ path('all_watch_index') }}?sort={% if selectedSortName == 'show_asc' %}show_desc{% else %}show_asc{% endif %}">
                <strong>
                        Show
                        {% if selectedSortName == 'show_asc' %}<i class="bi bi-caret-down-fill"></i>{% elseif selectedSortName == 'show_desc'%}<i class="bi bi-caret-up-fill"></i>{% endif %}
                </strong>
            </a>
        </div>
        <div class="col-md-2"><strong>&nbsp;</strong></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-6">
                    <a href="{{ path('all_watch_index') }}?sort={% if selectedSortName == 'activity_desc' %}activity_asc{% else %}activity_desc{% endif %}">
                        <strong>
                            Activity
                            {% if selectedSortName == 'activity_desc' %}<i class="bi bi-caret-down-fill"></i>{% elseif selectedSortName == 'activity_asc'%}<i class="bi bi-caret-up-fill"></i>{% endif %}
                        </strong>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="{{ path('all_watch_index') }}?sort={% if selectedSortName == 'recommendations_desc' %}recommendations_asc{% else %}recommendations_desc{% endif %}">
                        <strong>
                            Recommendations
                            {% if selectedSortName == 'recommendations_desc' %}<i class="bi bi-caret-down-fill"></i>{% elseif selectedSortName == 'recommendations_asc'%}<i class="bi bi-caret-up-fill"></i>{% endif %}
                        </strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% for key, row in data %}
        <div class="row mb-2 pb-2 border-bottom d-none d-lg-flex">
            <div class="col-md-2">
                <img class="img-fluid rounded-3" src="{{ row.show.coverImage|raw }}" alt="cover image" />
            </div>
            <div class="col-md-2">
                {{ row.show.title|raw }}
                <br>
                {% include 'all_watch/fragment/anilist_mal_link_buttons.html.twig' %}
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        {% if row.consolidatedActivities %}
                            <span class="fs-4 fw-bold"><i class="bi bi-people-fill"></i> {{ row.consolidatedActivities.total_count }}</span>
                            <div class="chart-container position-relative">
                                <canvas id="bar_activities_{{ row.show.id }}"
                                        class="all_watch_bar_activity_chart mb-2"
                                        data-scores="{{ row.consolidatedActivities.activities_array }}"
                                        data-maxscore="{{ row.maxActivityCount }}"
                                ></canvas>
                            </div>
                        {% else %}
                            &nbsp;
                        {% endif %}
                        <div class="row">
                            <div class="col-6">
                                {% include 'all_watch/fragment/activity_summary_table.html.twig' %}
                            </div>
                        </div>
                        {% if row.scores and row.scoreCount > 0 %}
                            <div class="">
                                <a
                                        class="btn btn-outline-primary mt-3"
                                        data-bs-toggle="collapse"
                                        href="#collapseRow{{ key }}"
                                        aria-expanded="false"
                                        aria-controls="collapseExample"
                                >Details</a>
                            </div>
                        {% endif %}

                    </div>
                    <div class="col-xs-12 col-md-6">
                        {% if row.consolidatedScores.all_count > 0 %}
                            {% include 'all_watch/fragment/mood_icon.html.twig' %}
                            <div class="chart-container">
                                <canvas id="bar_scores_{{ row.show.id }}"
                                        class="all_watch_bar_score_chart mb-2"
                                        data-scores="{{ row.consolidatedScores.scores_array }}"
                                        data-maxscore="{{ row.maxScore }}"
                                ></canvas>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    {% include 'all_watch/fragment/recommendations_summary_table.html.twig' %}
                                </div>
                            </div>

                        {% else %}
                            &nbsp;
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {% if row.scores and row.scoreCount > 0 %}
                            <div class="collapse" id="collapseRow{{ key }}">
                                {% include 'all_watch/fragment/individual_values_table.html.twig' %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if data is empty %}
        <div class="row">
            <div class="col-xs-12 d-none d-lg-block text-center mt-3">No shows found</div>
            <div class="col-xs-12 d-block d-lg-none">No shows found</div>
        </div>
    {% endif %}

    <div class="d-block d-lg-none">
        {% for key, row in data %}
            <div id="show_container_{{ key }}" class="show_container" data-anchorid="{{ key }}">
                <div class="row">
                    <div class="col">
                        <a style="position:relative;top:-7rem;z-index:-100;" id="show_target_{{ key }}">&nbsp;</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <img class="img-fluid rounded-3" src="{{ row.show.coverImage|raw }}" alt="cover image" />
                    </div>
                    <div class="col-8">
                        {{ row.show.title|raw }}
                        <br>
                        {% include 'all_watch/fragment/anilist_mal_link_buttons.html.twig' %}
                    </div>
                </div>
                {% if row.consolidatedActivities %}
                    <div class="mt-2">Activity</div>
                    <div class="row">
                        <div class="col-3">
                            <span class="fs-4 fw-bold">
                                <i class="bi bi-people-fill"></i> {{ row.consolidatedActivities.total_count }}
                            </span>
                        </div>
                        <div class="col-9">
                            <canvas id="bar_activities_{{ row.show.id }}_narrow"
                                    class="all_watch_bar_activity_chart mb-2"
                                    data-scores="{{ row.consolidatedActivities.activities_array }}"
                                    data-maxscore="{{ row.maxActivityCount }}"
                            ></canvas>
                        </div>
                    </div>
                {% else %}
                    <div>(no activity)</div>
                {% endif %}
                {% if row.consolidatedScores.all_count > 0 %}
                    <div class="mt-2">Recommendations</div>
                    <div class="row">
                        <div class="col-3">
                            {% include 'all_watch/fragment/mood_icon.html.twig' %}
                       </div>
                        <div class="col-9">
                            <canvas id="bar_scores_{{ row.show.id }}_narrow"
                                    class="all_watch_bar_score_chart mb-2"
                                    data-scores="{{ row.consolidatedScores.scores_array }}"
                                    data-maxscore="{{ row.maxScore }}"
                            ></canvas>
                        </div>
                    </div>
                {% else %}
                    <div>(no recommendations)</div>
                {% endif %}

                <div class="row">
                    <div class="col">
                        <a
                                class="btn btn-outline-primary mt-2 mb-3"
                                data-bs-toggle="collapse"
                                href="#collapseRowSmall{{ key }}"
                                aria-expanded="false"
                                aria-controls="collapseExample"
                        >Details</a>
                    </div>
                </div>

                <div class="collapse" id="collapseRowSmall{{ key }}">
                    <div class="row">
                        <div class="col">
                            {% include 'all_watch/fragment/activity_summary_table.html.twig' %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            {% include 'all_watch/fragment/recommendations_summary_table.html.twig' %}
                        </div>
                    </div>

                    <div class="row mb-3 pb-3">
                        <div class="col">
                            {% if row.scores and row.scoreCount > 0 %}
                                {% include 'all_watch/fragment/individual_values_table.html.twig' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row mt-2 mb-1 border-bottom"></div>
            </div>
        {% endfor %}

        {% if data is not empty %}
            <a class="btn btn-primary rounded-pill d-block d-lg-none" style="position: fixed; bottom: 1rem; right: 1rem; z-index:100;" href="{{ path('all_watch_index') }}#show_target_top">Top</a>
            <div class="row">
                <div class="col mb-5 mr-3">&nbsp;</div>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block body_javascripts %}
    <script src="/chart_js/Chart.min.js"></script>
    <script src="https://d3js.org/d3-color.v2.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
    <script src="/js/SelectSeason.js?v={{ asset_version }}"></script>
    <script src="/js/SelectSort.js?v={{ asset_version }}"></script>
    <script src="/js/SelectShow.js?v={{ asset_version }}"></script>
    <script src="/js/AllWatch.js?v={{ asset_version }}"></script>
{% endblock %}
