{% extends 'base.html.twig' %}

{% block title %}All Watch Picks{% endblock %}

{% block stylesheets %}
    <link href="/chart_js/Chart.min.css" rel="stylesheet">
{% endblock %}

{% block season_picker %}
    <li>
        <form class="d-flex">
            <label class="nav-item text-light pe-2 pt-2" for="select_season">Season</label>
            <select id="select_season" class="form-control me-3">
                {% for season in seasons %}
                    <option
                            value="{{ season.id }}"
                            {% if season.id == selectedSeasonId %} selected="selected" {% endif %}
                    >{{ season.name }}</option>
                {% endfor %}
            </select>
        </form>
    </li>
{% endblock %}

{% block second_navbar %}
    <nav id="second_nav" class="navbar navbar-expand-md navbar-light fixed-top bg-light d-block d-lg-none" style="top:3.53rem;z-index:1000;">
        <div class="container-fluid">
            <form class="d-flex">
                <label class="pe-2 pt-2" for="select_show">Show</label>
                <select id="select_show" class="form-control me-2">
                    {% for key, row in data %}
                        <option value="show_target_{{ key }}">{{ row.show.shortTitle }}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="row d-block d-lg-none">
        <div class="col">
            <a style="position:relative;top:-7rem;z-index:-100;" id="show_target_top"></a>
        </div>
    </div>


    <div class="row mb-2 d-block d-lg-none">
        <div class="col-md-10" style="margin-top: 2rem;">&nbsp;</div>
    </div>

    <div class="row mb-2">
        <div class="col-md-10">
            <h1>Community watch list</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p>
                Here is a summary of NoR community opinions on shows airing this season.
                Not the season you are interested in? Change it (above). You can also
                <a href="{{ path('my_watch_index') }}">enter</a> your own opinions and
                <a href="{{ path('my_vote') }}">vote</a> for discussion channels (when voting is open).
            </p>
        </div>
    </div>

    <div class="row mb-2 pb-2 border-bottom border-top pt-2 d-none d-lg-flex">
        <div class="col-md-2"><strong>Show</strong></div>
        <div class="col-md-2"><strong>&nbsp;</strong></div>
        <div class="col-md-2"><strong>Score</strong></div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <strong>Activity</strong>
                </div>
                <div class="col-md-6">
                    <strong>Recommendations</strong>
                </div>
            </div>
        </div>
    </div>
    {% for key, row in data %}
        <div class="row mb-2 pb-2 border-bottom d-none d-lg-flex">
            <div class="col-md-2">
                <img class="img-fluid" src="{{ row.show.coverImage|raw }}" alt="cover image" />
            </div>
            <div class="col-md-2">
                {{ row.show.title|raw }}
            </div>
            <div class="col-md-2">
                <table>
                    <tbody>
                    <tr>
                        <th class="pe-3">Th8a should cover</th>
                        <td>
                            {% if row.consolidatedScores is not null %}
                                {{ row.consolidatedScores.th8a_count }}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="pe-3">Should watch</th>
                        <td>
                            {% if row.consolidatedScores is not empty %}
                                {{ row.consolidatedScores.yes_count }}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="pe-3">Should avoid</th>
                        <td>
                            {% if row.consolidatedScores is not null %}
                                {{ row.consolidatedScores.no_count }}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th class="pe-3">Total</th>
                        <td>
                            {% if row.consolidatedScores is not null %}
                                {% if row.consolidatedScores.score_total is not null %}
                                    {{ row.consolidatedScores.score_total }}
                                {% else %}
                                    0
                                {% endif %}
                            {% else %}
                                0
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        {% if row.consolidatedActivities %}
                            <canvas width="250"
                                    height="200"
                                    id="bar_activities_{{ row.show.id }}"
                                    class="all_watch_bar_activity_chart"
                                    data-scores="{{ row.consolidatedActivities.activities_array }}"
                                    data-maxscore="{{ row.maxActivityCount }}"
                            ></canvas>
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-md-6">
                        {% if row.consolidatedScores.all_count > 0 %}
                            <canvas width="250"
                                    height="200"
                                    id="bar_scores_{{ row.show.id }}"
                                    class="all_watch_bar_score_chart"
                                    data-scores="{{ row.consolidatedScores.scores_array }}"
                                    data-maxscore="{{ row.maxScore }}"
                            ></canvas>
                        {% else %}
                            &nbsp;
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {% if row.scores %}
                            {% set foundScores = 0 %}
                            {% for scoreField in row.scores %}
                                {% if users[scoreField.getUser.getUsername] %}
                                    {% if (scoreField.activity and scoreField.activity.getSlug != 'none') and (scoreField.score and scoreField.score.getSlug != 'none') %}
                                        {% set foundScores = foundScores + 1 %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if foundScores > 0 %}
                                <div>
                                    <a
                                            class="btn btn-outline-primary mt-3 mb-3"
                                            data-bs-toggle="collapse"
                                            href="#collapseRow{{ key }}"
                                            aria-expanded="false"
                                            aria-controls="collapseExample"
                                    >Details</a>
                                </div>
                                <div class="collapse" id="collapseRow{{ key }}">
                                    <table class="table table-sm">
                                        <tr class="d-flex">
                                            <th class="col-4">User</th>
                                            <th class="col-4 text-center">Activity</th>
                                            <th class="col-4 text-center">Recommendation</th>
                                        </tr>
                                        {% for scoreField in row.scores %}
                                            {% if (scoreField.activity and scoreField.activity.getSlug != 'none') and (scoreField.score and scoreField.score.getSlug != 'none') %}
                                                <tr class="d-flex">
                                                    <td class="col-4">
                                                        {{ scoreField.getUser.getDiscordUsername }}
                                                    </td>
                                                    {% if scoreField.activity and scoreField.activity.getSlug != 'none'%}
                                                        <td class="col-4 text-center table-field-{{ scoreField.activity.getColorValue }}">
                                                            {{ scoreField.activity.getNickname }}
                                                        </td>
                                                    {% else %}
                                                        <td class="col-4">&nbsp;</td>
                                                    {% endif %}
                                                    {% if scoreField.score and scoreField.score.getSlug != 'none' %}
                                                        <td class="col-4 text-center table-field-{{ scoreField.score.getColorValue }}">
                                                            {{ scoreField.score.getNickname }}
                                                        </td>
                                                    {% else %}
                                                        <td class="col-4">&nbsp;</td>
                                                    {% endif %}
                                                </tr>
                                            {% endif %}
                                        {% endfor %}

                                    </table>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div>
        {% for key, row in data %}
{#            <div class="row">#}
{#                <div class="col">#}
{#                    Col 1#}
{#                </div>#}
{#                <div class="col">#}
{#                    Col 2#}
{#                </div>#}
{#            </div>#}
            <div id="show_container_{{ key }}" class="show_container d-block d-lg-none" data-anchorid="{{ key }}">
                <div class="row">
                    <div class="col">
                        <a style="position:relative;top:-7rem;z-index:-100;" id="show_target_{{ key }}">&nbsp;</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <img class="img-fluid" src="{{ row.show.coverImage|raw }}" alt="cover image" />
{#                        {{ row.show.title|raw }}#}
                    </div>
                    <div class="col">
                        {{ row.show.title|raw }}
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <a
                                class="btn btn-outline-primary mt-3 mb-3"
                                data-bs-toggle="collapse"
                                href="#collapseRowSmall{{ key }}"
                                aria-expanded="false"
                                aria-controls="collapseExample"
                        >Details</a>
                    </div>
                </div>
                <div class="collapse" id="collapseRowSmall{{ key }}">
                    <div class="row mb-3 pb-3">
                        <div class="col">
                            <strong>Activity</strong><br>
                            <canvas width="300"
                                    height="250"
                                    id="bar_activity_{{ row.show.id }}_narrow"
                                    class="all_watch_bar_activity_chart"
                                    data-scores="{{ row.consolidatedActivities.activities_array }}"
                                    data-maxscore="{{ row.maxActivityCount }}"
                            ></canvas>
                        </div>
                    </div>
                    <div class="row mb-2 pb-2 d-block d-lg-none">
                        <div class="col">
                            <strong>Score</strong><br>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td><strong>Th8a</strong></td>
                                    <td><strong>Watch</strong></td>
                                    <td><strong>Avoid</strong></td>
                                    <td><strong>Total</strong></td>
                                </tr>
                                <tr>
                                    <td>{{ row.consolidatedScores.th8a_count }}</td>
                                    <td>{{ row.consolidatedScores.yes_count }}</td>
                                    <td>{{ row.consolidatedScores.no_count }}</td>
                                    <td>{{ row.consolidatedScores.score_total }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row mb-3 pb-3 d-block d-lg-none">
                        <div class="col">
                            <strong>Recommendations</strong><br>
                            <canvas width="300"
                                    height="250"
                                    id="bar_score_{{ row.show.id }}_narrow"
                                    class="all_watch_bar_score_chart"
                                    data-scores="{{ row.consolidatedScores.scores_array }}"
                                    data-maxscore="{{ row.maxScore }}"
                            ></canvas>
                        </div>
                    </div>
                    <div class="row mb-3 pb-3 d-block d-lg-none">
                        <div class="col">
                            {% if row.scores %}
                                {% set foundScores = 0 %}
                                {% for scoreField in row.scores %}
                                    {% if users[scoreField.getUser.getUsername] %}
                                        {% if (scoreField.activity and scoreField.activity.getSlug != 'none') and (scoreField.score and scoreField.score.getSlug != 'none') %}
                                            {% if scoreField.score %}
                                                {% set foundScores = foundScores + 1 %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if foundScores > 0 %}
                                <table class="table table-sm">
                                    <tr class="d-flex">
                                        <th class="col-4"><strong>User</strong></th>
                                        <th class="col-4 text-center"><strong>Activity</strong></th>
                                        <th class="col-4 text-center"><strong>Recommend</strong></th>
                                    </tr>
                                    {% for scoreField in row.scores %}
                                        {% if (scoreField.activity and scoreField.activity.getSlug != 'none') and (scoreField.score and scoreField.score.getSlug != 'none') %}
                                            <tr class="d-flex">
                                                <td class="col-4">
                                                    {{ scoreField.getUser.getDiscordUsername }}
                                                </td>
                                                {% if scoreField.activity %}
                                                    <td class="col-4 text-center table-field-{{ scoreField.activity.getColorValue }}">
                                                        {{ scoreField.activity.getNickname }}
                                                    </td>
                                                {% else %}
                                                    <td class="col-4">&nbsp;</td>
                                                {% endif %}
                                                {% if scoreField.score %}
                                                    <td class="col-4 text-center table-field-{{ scoreField.score.getColorValue }}">
                                                        {{ scoreField.score.getNickname }}
                                                    </td>
                                                {% else %}
                                                    <td class="col-4">&nbsp;</td>
                                                {% endif %}
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row mb-2 border-bottom d-block d-lg-none">
                    <div class="col">&nbsp;</div>
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col mb-5 mr-3">&nbsp;</div>
        </div>
    </div>

    <a class="btn btn-primary rounded-pill d-block d-lg-none" style="position: fixed; bottom: 1rem; right: 1rem; z-index:100;" href="{{ path('all_watch_index') }}#show_target_top">Top</a>

{% endblock %}

{% block body_javascripts %}
    <script src="/chart_js/Chart.min.js?v={{ asset_version }}"></script>
    <script src="https://d3js.org/d3-color.v2.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0"></script>
    <script src="/js/AllWatch.js?v={{ asset_version }}"></script>
{% endblock %}
