<div class="row">
    <div class="col-md-12">
        <p>
            Enter the show's Anilist ID. If you navigate to the show's main page
            at <a target="_blank" href="https://anilist.co">Anilist</a>, the ID
            is the number in the URL of that page, like this:
        </p>
            <div class="card mb-3">
                <div class="card-body">
                    anilist.co/anime/<strong>[show-id-here]</strong>/[show-name-here]/
                </div>
            </div>
        <p>
            The app will automatically fill in show details from the Anilist database.
        </p>
        <p>
            Select the season or seasons the show will air in.
        </p>
        <p>
            If the show should be excluded from being voted on for a NOR discussion
            channel (because it already has a channel or other reasons) turn on
            the &quot;Exclude from elections&quot; checkbox.
        </p>
    </div>
</div>

{{ form_start(form) }}
{#<div class="row">#}
{#    <div class="col">#}
{#        {{ form_row(form.japaneseTitle) }}#}
{#    </div>#}
{#</div>#}
{#<div class="row">#}
{#    <div class="col">#}
{#        {{ form_row(form.englishTitle) }}#}
{#    </div>#}
{#</div>#}
{#<div class="row">#}
{#    <div class="col">#}
{#        {{ form_row(form.fullJapaneseTitle) }}#}
{#    </div>#}
{#</div>#}
{#<div class="row">#}
{#    <div class="col">#}
{#        {{ form_row(form.fullEnglishTitle) }}#}
{#    </div>#}
{#</div>#}
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.anilistId) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card mt-3 mb-3">
            <div class="card-body">
                {{ form_row(form.seasons) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.excludeFromElections) }}
    </div>
</div>
<div class="row py-3">
    <div class="col">
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_end(form) }}
