{% extends 'base.html.twig' %}

{% block title %}Shows{% endblock %}

{% block body %}
    <span class="float-end">
        <a class="btn btn-success" href="{{ path('admin_show_new') }}">Create new</a>
    </span>

    <span class="float-end me-3">
        {{ pagerfanta(pager) }}
    </span>

    <h1>Shows</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Cover</th>
                <th>
{#                    <a href="{{ path('all_watch_index')  }}?sort={% if selectedSortName == 'show_asc'   %}show_desc{% else   %}show_asc{% endif   %}">#}
                    <a href="{{ path('admin_show_index') }}?sort={% if selectedSortName == 'rumaji_asc' %}rumaji_desc{% else %}rumaji_asc{% endif %}">
                        Japanese&nbsp;Title
                        {% if selectedSortName == 'rumaji_asc' %}&#9660;{% elseif selectedSortName == 'rumaji_desc'%}&#9650;{% endif %}
                    </a>
                </th>
                <th>
                    <a href="{{ path('admin_show_index') }}?sort={% if selectedSortName == 'english_asc' %}english_desc{% else %}english_asc{% endif %}">
                        English&nbsp;Title
                        {% if selectedSortName == 'english_asc' %}&#9660;{% elseif selectedSortName == 'english_desc'%}&#9650;{% endif %}
                    </a>
                </th>
                <th>Anilist&nbsp;Id</th>
                <th class="col-sm-1">Seasons</th>
                <th class="col-sm-2"><span class="float-end">Actions</span></th>
            </tr>
        </thead>
        <tbody>
        {% for show in shows %}
            <tr>
                <td>
                    <a href="{{ path('admin_show_show', {'id': show.id}) }}">
                        <img class="rounded-3" src="{{ show.getCoverImageMedium|raw }}" alt="cover image" />
                    </a>
                </td>
                <td>
                    {{ show.getJapaneseTitle }}<br>
                    {{ show.getFullJapaneseTitle }}
                </td>
                <td>{{ show.getEnglishTitle }}</td>
                <td>{{ show.getAnilistId }}</td>
                <td class="col-sm-1">
                    {% for season in show.seasons %}
                        {{ season.getName }}<br>
                    {% endfor %}
                </td>
                <td class="col-sm-2">
                    <span class="float-end">
                        <a class="btn btn-primary" href="{{ path('admin_show_show', {'id': show.id}) }}">View</a>
                        <a class="btn btn-secondary" href="{{ path('admin_show_edit', {'id': show.id}) }}">Edit</a>
                    </span>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No shows found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-12 py-xl-3">
            <span class="float-end">
                <a class="btn btn-success" href="{{ path('admin_show_new') }}">Create new</a>
            </span>
            <span class="float-end me-3">
                {{ pagerfanta(pager) }}
            </span>
        </div>
    </div>
{% endblock %}
