{% extends 'base.html.twig' %}

{% block title %}Show{% endblock %}

{% block body %}
    <h1>Show</h1>

    <table class="table">
        <tbody>
            <tr>
                <th scope="row" class="col-md-3">Id</th>
                <td class="col-md-9">{{ show.id }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3">Romaji Title</th>
                <td class="col-md-9">{{ show.japaneseTitle }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3">Original Title</th>
                <td class="col-md-9">{{ show.fullJapaneseTitle }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3">English Title</th>
                <td class="col-md-9">{{ show.englishTitle }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3">Anilist Id</th>
                <td class="col-md-9">{{ show.anilistId }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3">Description</th>
                <td class="col-md-9">{{ show.description|raw }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3">Official hashtag</th>
                <td class="col-md-9">{{ show.hashtag }}</td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3">Cover image</th>
                <td class="col-md-9"><img class="rounded-3" src="{{ show.coverImageMedium }}" alt="cover image"/></td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3">Seasons</th>
                <td class="col-md-9">
                    {% for season in show.seasons %}
                        {{ season.name }}<br>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row" class="col-md-3">Anilist page</th>
                <td class="col-md-9"><a target="_blank" href="{{ show.siteUrl }}">View</a></td>
            </tr>
        </tbody>
    </table>

    <div class="float-end">
        {{ include('show/_delete_form.html.twig') }}
    </div>

    <a class="btn btn-light" href="{{ path('admin_show_index') }}">Back to list</a>

    <a class="btn btn-secondary" href="{{ path('admin_show_edit', {'id': show.id}) }}">Edit</a>

{% endblock %}
