<table class="table table-sm align-middle">
    <tr>
        <td><div class="score-th8a watching-legend-pip"></div></td>
        <td>Th8a should cover</td>
        <td class="text-end">{{ row.consolidatedScores.th8a_count }}</td>
        <td class="text-end">{{ row.consolidatedScores.th8a_percent }}%</td>
    </tr>
    <tr>
        <td><div class="score-highly-favorable watching-legend-pip"></div></td>
        <td>Highly favorable</td>
        <td class="text-end">{{ row.consolidatedScores.highly_favorable_count }}</td>
        <td class="text-end">{{ row.consolidatedScores.highly_favorable_percent }}%</td>
    </tr>
    <tr>
        <td><div class="score-favorable watching-legend-pip"></div></td>
        <td>Favorable</td>
        <td class="text-end">{{ row.consolidatedScores.favorable_count }}</td>
        <td class="text-end">{{ row.consolidatedScores.favorable_percent }}%</td>
    </tr>
    <tr>
        <td><div class="score-neutral watching-legend-pip"></div></td>
        <td>Neutral</td>
        <td class="text-end">{{ row.consolidatedScores.neutral_count }}</td>
        <td class="text-end">{{ row.consolidatedScores.neutral_percent }}%</td>
    </tr>
    <tr>
        <td><div class="score-unfavorable watching-legend-pip"></div></td>
        <td>Unfavorable</td>
        <td class="text-end">{{ row.consolidatedScores.unfavorable_count }}</td>
        <td class="text-end">{{ row.consolidatedScores.unfavorable_percent }}%</td>
    </tr>
</table>
