<div class="row">
    <div class="col-4 col-xl-3 col-xxl-2 d-grid gap-0">
        {% if row.score.show.getAnilistId %}
            <a
                    href="https://anilist.co/anime/{{ row.score.show.getAnilistId }}"
                    class="btn btn-sm btn-outline-primary m-1 ms-0 d-inline-block d-lg-none"
            >Anilist</a>
            <a
                    href="https://anilist.co/anime/{{ row.score.show.getAnilistId }}"
                    target="_blank"
                    class="btn btn-sm btn-outline-primary m-1 ms-0 d-none d-lg-inline-block"
            >Anilist</a>
        {% endif %}
        {% if row.score.show.getMalId %}
            <a
                    href="https://myanimelist.net/anime/{{ row.score.show.getMalId }}"
                    class="btn btn-sm btn-outline-primary m-1 ms-0 d-inline-block d-lg-none"
            >MAL</a>
            <a
                    href="https://myanimelist.net/anime/{{ row.score.show.getMalId }}"
                    target="_blank"
                    class="btn btn-sm btn-outline-primary m-1 ms-0 d-none d-lg-inline-block"
            >MAL</a>
        {% endif %}
        <a class="btn btn-sm btn-outline-success m-1 ms-0" href="{{ path('all_watch_index') }}?#show_target_{{ row.score.show.getId }}">
            Community
        </a>
    </div>
</div>

{#{% if row.score.show.getAnilistId %}#}
{#    <a#}
{#            href="https://anilist.co/anime/{{ row.score.show.getAnilistId }}"#}
{#            class="btn btn-outline-primary mt-1 mb-1 d-inline-block d-lg-none"#}
{#    >Anilist</a>#}
{#    <a#}
{#            href="https://anilist.co/anime/{{ row.score.show.getAnilistId }}"#}
{#            target="_blank"#}
{#            class="btn btn-outline-primary mt-1 mb-1 d-none d-lg-inline-block"#}
{#    >Anilist</a>#}
{#{% endif %}#}
{#{% if row.score.show.getMalId %}#}
{#    <a#}
{#            href="https://myanimelist.net/anime/{{ row.score.show.getMalId }}"#}
{#            class="btn btn-outline-primary mt-1 mb-1 d-inline-block d-lg-none"#}
{#    >MAL</a>#}
{#    <a#}
{#            href="https://myanimelist.net/anime/{{ row.score.show.getMalId }}"#}
{#            target="_blank"#}
{#            class="btn btn-outline-primary mt-1 mb-1 d-none d-lg-inline-block"#}
{#    >MAL</a>#}
{#{% endif %}#}
