{{ form_start(form) }}
<div class="row">
    <div class="col">
        {{ form_row(form.name) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ form_row(form.year) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ form_row(form.yearPart) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ form_row(form.rankOrder) }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        {{ form_row(form.hiddenFromSeasonsList) }}
    </div>
</div>
<div class="row py-3">
    <div class="col">
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_end(form) }}
