{% extends 'base.html.twig' %}

{% block title %}Seasonal Watch List{% endblock %}

{% block body %}

    {% if user %}
        {% if is_granted('ROLE_SWL_USER') %}
            {# lg/xl version #}
            <div class="row justify-content-center d-none d-lg-flex py-3">
                <div class="col">
                    <h1 class="text-center">Seasonal Watch List</h1>
                </div>
            </div>
            <div class="row justify-content-center d-none d-lg-flex py-3 gx-5">
                <div class="col" style="width: 300px; max-width: 300px;">
                    <div class="card text-center">
                        <div class="card-header">
                            <div style="font-size:100px;color:#aaaaaa;">
                                <a href="{{ path('my_watch_index') }}">
                                    <i class="bi bi-bookmark"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5>Personal watch list</h5>
                            <p class="">
                                Record what you are<br>watching.
                            </p>
                            <a class="btn btn-lg btn-primary mt-3 mb-3" href="{{ path('my_watch_index') }}">Personal</a>
                        </div>
                    </div>
                </div>
                <div class="col" style="width: 300px; max-width: 300px;">
                    <div class="card text-center">
                        <div class="card-header">
                            <div style="font-size:100px;color:#aaaaaa;">
                                <a href="{{ path('all_watch_index') }}">
                                    <i class="bi bi-bookmarks"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5>Community watch list</h5>
                            <p class="">
                                See what others are<br>watching.
                            </p>
                            <a class="btn btn-lg btn-primary mt-3 mb-3" href="{{ path('all_watch_index') }}">Community</a>
                        </div>
                    </div>
                </div>
                <div class="col" style="width: 300px; max-width: 300px;">
                    <div class="card text-center">
                        <div class="card-header">
                            <div style="font-size:100px;color:#aaaaaa;">
                                <a href="{{ path('my_vote') }}">
                                    <i class="bi bi-check-square"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5>Election</h5>
                            <p class="">
                                Vote for NoR show<br>discussion channels.
                            </p>
                            <a class="btn btn-lg btn-success mt-3 mb-3" href="{{ path('my_vote') }}">Vote</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center d-none d-lg-flex py-3 gx-5">
                <div class="mt-5">
                    {% for label, messages in app.flashes() %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            {# xs, sm, md version #}
            <div class="row justify-content-center d-flex d-lg-none py-3">
                <div class="col">
                    <h1 class="text-center">Seasonal Watch List</h1>
                </div>
            </div>
            <div class="row justify-content-center d-flex d-lg-none py-3">
                <div class="col" style="width: 300px; max-width: 300px;">
                    <div class="card text-center">
                        <div class="card-header">
                            <div style="font-size:100px;color:#aaaaaa;">
                                <a href="{{ path('my_watch_index') }}">
                                    <i class="bi bi-bookmark"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5>Personal watch list</h5>
                            <p class="">
                                Record what you are<br>watching.
                            </p>
                            <a class="btn btn-lg btn-primary mt-3 mb-3" href="{{ path('my_watch_index') }}">Personal</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center d-flex d-lg-none py-3">
                <div class="col" style="width: 300px; max-width: 300px;">
                    <div class="card text-center">
                        <div class="card-header">
                            <div style="font-size:100px;color:#aaaaaa;">
                                <a href="{{ path('all_watch_index') }}">
                                    <i class="bi bi-bookmarks"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5>Community watch list</h5>
                            <p class="">
                                See what others are<br>watching.
                            </p>
                            <a class="btn btn-lg btn-primary mt-3 mb-3" href="{{ path('all_watch_index') }}">Community</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center d-flex d-lg-none py-3">
                <div class="col" style="width: 300px; max-width: 300px;">
                    <div class="card text-center">
                        <div class="card-header">
                            <div style="font-size:100px;color:#aaaaaa;">
                                <a href="{{ path('my_vote') }}">
                                    <i class="bi bi-check-square"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5>Election</h5>
                            <p class="">
                                Vote for NoR show<br>discussion channels.
                            </p>
                            <a class="btn btn-lg btn-success mt-3 mb-3" href="{{ path('my_vote') }}">Vote</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center d-flex d-lg-none py-3">
                {% for label, messages in app.flashes() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

        {% else %}
            {# User does not have at least the 'regular' role #}
            <div class="row justify-content-center py-3">
                <div class="col-md-6">
                    <h1 class="text-center mb-5">Seasonal Watch List</h1>
                    <p class="mb-3">
                        You do not have the proper role to use this site, or you are not yet
                        a member of the NearlyOnRed Discord community. If you have accidentally logged
                        in using the wrong Discord account, please log out here and try again with another
                        Discord account.
                    </p>
                    <p class="mb-3">
                        If you do have the proper role and are still seeing this message, please contact
                        someone in the moderation team at NearlyOnRed for help to correct the problem.
                    </p>
                    <div>
                        {% for label, messages in app.flashes() %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="row justify-content-center py-3">
            <div class="col-md-6">
                <h1 class="text-center mb-5">Seasonal Watch List</h1>
                <p class="mb-3">
                    Welcome to the Seasonal Watch List. Use this site to record the shows
                    you are watching and see what others in the NOR community have picked to watch.
                </p>
                <p class="mb-3">
                    Each season we have an election to choose what shows should get their own
                    discussion channels in the Discord. This is the site where those votes
                    take place.
                </p>
                <p class="mb-3">
                    Use your Discord account to connect to this site. Click the Login button
                    below to get started.
                </p>
                <div class="text-center">
                    <a class="btn btn-lg btn-primary mb-5" href="{{ path('connect_discord_start') }}">Login</a>
                </div>

                <div>
                    {% for label, messages in app.flashes() %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
