{% extends 'base.html.twig' %}

{% block title %}NOR Seasonal Watch List{% endblock %}

{% block body %}

    {% if user %}
        {% if is_granted('ROLE_SWL_USER') %}
            <div class="row justify-content-center d-flex py-3">
                <div class="col">
                    <h1 class="text-center">
                        {% include 'default/fragment/headline.html.twig' %}
                    </h1>
                </div>
            </div>
            <div class="row d-flex flex-column flex-lg-row align-items-center align-items-lg-top justify-content-center py-3 g-5">
                <div class="col" style="width: 300px; max-width: 300px;">
                    <div class="card text-center home-nav-card">
                        <div class="card-header">
                            <div class="d-flex align-items-center justify-content-center" style="font-size:100px;color:#aaaaaa;">
                                <a class="nor-red d-inline-block py-4 text-decoration-none" href="{{ path('my_watch_index') }}">
                                    <i class="bi bi-bookmark d-flex align-items-center justify-content-center"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5>Personal Watch List</h5>
                            <p class="">
                                Record what you are<br>watching.
                            </p>
                            <a class="btn btn-lg btn-primary mt-3 mb-3" href="{{ path('my_watch_index') }}">Personal</a>
                        </div>
                    </div>
                </div>
                <div class="col" style="width: 300px; max-width: 300px;">
                    <div class="card text-center home-nav-card">
                        <div class="card-header">
                            <div class="d-flex align-items-center justify-content-center" style="font-size:100px;color:#aaaaaa;">
                                <a class="nor-red d-inline-block py-4 text-decoration-none" href="{{ path('all_watch_index') }}">
                                    <i class="bi bi-bookmarks d-flex align-items-center justify-content-center"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5>Community Watch List</h5>
                            <p class="">
                                See what others are<br>watching.
                            </p>
                            <a class="btn btn-lg btn-primary mt-3 mb-3" href="{{ path('all_watch_index') }}">Community</a>
                        </div>
                    </div>
                </div>
                <div class="col" style="width: 300px; max-width: 300px;">
                    <div class="card text-center home-nav-card">
                        <div class="card-header">
                            <div class="d-flex align-items-center justify-content-center" style="font-size:100px;color:#aaaaaa;">
                                <a class="nor-red d-inline-block py-4 text-decoration-none" href="{{ path('my_vote') }}">
                                    <i class="bi bi-check-square d-flex align-items-center justify-content-center"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <h5>Election</h5>
                            <p class="">
                                Vote for NOR show<br>discussion channels.
                            </p>
                            <a class="btn btn-lg btn-success mt-3 mb-3" href="{{ path('my_vote') }}">
                                {% if electionIsActive is defined and electionIsActive %}
                                    Voting Open
                                {% else %}
                                    Vote
                                {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center d-flex py-3 gx-0 gx-lg-5">
                <div class="mt-5">
                    {% for label, messages in app.flashes() %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>

        {% else %}
            {# User does not have at least the 'regular' role #}
            <div class="row justify-content-center py-3">
                <div class="col-md-6">
                    <h1 class="text-center mb-5">
                        {% include 'default/fragment/headline.html.twig' %}
                    </h1>
                    <p class="mb-3">
                        You do not have the proper role to use this site, or you are not yet
                        a member of the NearlyOnRed Discord community. If you have accidentally logged
                        in using the wrong Discord account, please log out here and try again with another
                        Discord account.
                    </p>
                    <p class="mb-3">
                        If you do have the proper role and are still seeing this message, please contact
                        someone in the moderation team at NearlyOnRed for help to correct the problem.
                    </p>
                    <div>
                        {% for label, messages in app.flashes() %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% else %}
        <div class="row justify-content-center py-3">
            <div class="col-md-6">
                <h1 class="text-center mb-5">
                    {% include 'default/fragment/headline.html.twig' %}
                </h1>
                <p class="mb-3">
                    Welcome to the Seasonal Watch List. Use this site to record the shows
                    you are watching and see what others in the NOR community have picked to watch.
                </p>
                <p class="mb-3">
                    Each season we have an election to choose what shows should get their own
                    discussion channels in the Discord. This is the site where those votes
                    take place.
                </p>
                <p class="mb-3">
                    Use your Discord account to connect to this site. Click the Login button
                    below to get started.
                </p>
                <div class="text-center">
                    <a class="btn btn-lg btn-primary mb-5" href="{{ path('connect_discord_start') }}">Login</a>
                </div>

                <div>
                    {% for label, messages in app.flashes() %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
